@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-vazir);
  --font-mono: var(--font-vazir);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
  --nik-primary: #dffca1;
  --nik-foreground: #094020;
  --nik-gray: #f2f2f0;
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
  --nik-primary: #dffca1;
  --nik-foreground: #094020;
  --nik-gray: #f2f2f0;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .bg-nik-primary {
    @apply bg-[#dffca1];
  }
  .text-nik-foreground {
    @apply text-[#094020];
  }
}

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: radial-gradient(rgb(243, 243, 243) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}

.bg-nik-primary {
  background-color: #dffca1;
}

.text-nik-foreground {
  color: #094020;
}

/*//^ HEADER MENU *********************************************************************************************/
.main > .inp {
  display: none;
}

.main {
  font-weight: 600;
  color: #094020;
  background-color: #dffca1;
  padding: 3px 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  height: 2.5rem;
  gap: 10px;
  width: fit-content;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
}

.arrow {
  height: 34%;
  aspect-ratio: 1;
  margin-block: auto;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  background-color: #094020;
  height: 100%;
  width: 2.5px;
  border-radius: 500px;
  transform-origin: bottom;
}

.arrow::after {
  transform: rotate(35deg) translateX(-0.5px);
}
.arrow::before {
  transform: rotate(-35deg) translateX(0.5px);
}

.main > .inp:checked + .arrow {
  transform: rotateX(180deg);
}

.menu-container {
  background-color: transparent;
  color: #094020;
  border-radius: 10px;
  position: absolute;
  width: auto;
  white-space: nowrap;
  left: 0;
  top: 130%;
  overflow: hidden;
  clip-path: inset(0% 0% 0% 0% round 10px);
  transition: all 0.4s;
  direction: rtl;
}

@media screen and (max-width <= 820px) {
  .menu-container {
    width: 12rem;
  }
}

.menu-list {
  --delay: 0.4s;
  --trdelay: 0.15s;
  padding: 8px 15px;
  border-radius: 50px;
  font-size: 13px;
  margin: 5px auto;
  transition: all 300ms linear;
  position: relative;
  transform: translateY(30px);
  opacity: 0;
  color: #094020;
  background-color: #dffca1;
}

.menu-list::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: transparent;
  width: 95%;
}

.menu-list:hover {
  background-color: #094020;
  color: #dffca1;
}

.inp:checked ~ .menu-container {
  clip-path: inset(10% 50% 90% 50% round 10px);
}

.inp:not(:checked) ~ .menu-container .menu-list {
  transform: translateY(0);
  opacity: 1;
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(1) {
  transition: transform 0.4s var(--delay), opacity 0.4s var(--delay);
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(2) {
  transition: transform 0.4s calc(var(--delay) + (var(--trdelay) * 1)), opacity 0.4s calc(var(--delay) + (var(--trdelay) * 1));
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(3) {
  transition: transform 0.4s calc(var(--delay) + (var(--trdelay) * 2)), opacity 0.4s calc(var(--delay) + (var(--trdelay) * 2));
}

.inp:not(:checked) ~ .menu-container .menu-list:nth-child(4) {
  transition: transform 0.4s calc(var(--delay) + (var(--trdelay) * 3)), opacity 0.4s calc(var(--delay) + (var(--trdelay) * 3));
}

.bar-inp {
  -webkit-appearance: none;
  appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  display: flex;
  height: 50%;
  width: 19px;
  flex-direction: column;
  gap: 3px;
}

.bar-list {
  --transform: -25%;
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 1.5px;
  transform: translateX(-1px);
  border-radius: 50px;
  background-color: #094020;
  transition: all 0.4s;
  position: relative;
}

.inp:not(:checked) ~ .bar > .top {
  transform-origin: top right;
  transform: translateY(var(--transform)) rotate(-45deg);
}

.inp:not(:checked) ~ .bar > .middle {
  transform: translateX(-50%);
  opacity: 0;
}

.inp:not(:checked) ~ .bar > .bottom {
  transform-origin: bottom right;
  transform: translateY(calc(var(--transform) * -1)) rotate(45deg);
}
/*//^ EMBLA CAROUSEL *****************************************************************************************************/

.embla {
  max-width: 100vw;
  margin: 0 0.6rem;
  --slide-height: 22rem;
  --slide-spacing: 1rem;
  --slide-size: 85%;
}

@media screen and (min-width >= 640px) {
  .embla {
    --slide-size: 50%;
    --slide-height: 25rem;
  }
}

.embla__viewport {
  overflow: hidden;
}

.embla {
  mask-image: linear-gradient(to left, transparent, black 100px, black calc(100% - 100px), transparent);
}


/* .embla__viewport::before {
  content: "";
  z-index: 999;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  width: 3rem;
  height: 75%;
  top: 4%;
  margin: auto;
  position: absolute;
  left: -10px;
  border-radius: 10px;
}

.embla__viewport::after {
  content: "";
  z-index: 999;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  width: 3rem;
  height: 75%;
  top: 3%;
  margin: auto;
  position: absolute;
  right: -13px;
  border-radius: 10px;
} */

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  /* flex: 0 0 var(--slide-size); */
  min-width: 0;
  border-radius: 50px;
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 3rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

/*//& EMBLA BUTTONS */

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: #dffca1;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}

.embla__dot--selected:after {
  background-color: #094020;
  border: 1px solid #094020;
  padding: 0;
}

#TAB__LIST {
  scrollbar-color: transparent;
  scrollbar-width: 0;
  scrollbar-gutter: 0;
}

#TAB__LIST::-webkit-scrollbar {
  display: none;
}

.TAB__LIST {
  scrollbar-color: transparent;
  scrollbar-width: 0;
  scrollbar-gutter: 0;
}

.TAB__LIST::-webkit-scrollbar {
  display: none;
}

/* #TAB__LIST {
  mask-image: linear-gradient(to left, transparent, black 20px, black calc(100% - 20px), transparent);
} */

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
